In [13]:
import pandas as pd
import numpy as np

In [14]:
popular_moves = pd.read_csv('Top_10000_Movies.csv',  lineterminator='\n')

In [15]:
popular_moves_df = popular_moves.drop("Unnamed: 0",axis=1)

In [16]:
popular_moves_df.head()

,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline
0,580489,en,Venom: Let There Be Carnage,5401.308,2021-09-30,6.8,1736,"['Science Fiction', 'Action', 'Adventure']",After finding a host body in investigative rep...,424000000,97.0,NaN
1,524434,en,Eternals,3365.535,2021-11-03,7.1,622,"['Action', 'Adventure', 'Science Fiction', 'Fa...",The Eternals are a team of ancient aliens who ...,165000000,157.0,In the beginning...
2,438631,en,Dune,2911.423,2021-09-15,8.0,3632,"['Action', 'Adventure', 'Science Fiction']","Paul Atreides, a brilliant and gifted young ma...",331116356,155.0,"Beyond fear, destiny awaits."
3,796499,en,Army of Thieves,2552.437,2021-10-27,6.9,555,"['Action', 'Crime', 'Thriller']",A mysterious woman recruits bank teller Ludwig...,0,127.0,"Before Vegas, one locksmith became a legend."
4,550988,en,Free Guy,1850.470,2021-08-11,7.8,3493,"['Comedy', 'Action', 'Adventure', 'Science Fic...",A bank teller called Guy realizes he is a back...,331096766,115.0,Life's too short to be a background character.

## This dataset has information about the top 10000 Popular movies based on TMDB ratings.

### This dataset has following fields:

#### `id: every movie has a unique ID` <br /><br />  `original_language`<br /><br />`original_title`<br /><br />`popularity: the bigger the number, the higher the popularity`<br /><br />`release_date`<br /><br />`vote_average`<br /><br />`vote_count`<br /><br />`genre`<br /><br />`overview`<br /><br />`revenue`<br /><br />`runtime: in minutes`<br /><br />`tagline`

In [19]:
len(popular_moves_df)

10000

### URL to this dataset: https://www.kaggle.com/omkarborikar/top-10000-popular-movies
### To download it, click the download button on the top right of the website

### Some interesting questions we can answeer with this dataset: <br /><br /> 1) Are there genre(s) that tend to be more popular? <br /><br /> 2) Does a higher number of ratings correlate with higher revenue? <br /><br /> 3) Are there multiple movies with the same title or tagline? <br /><br /> 4) Does the movie with the highest revenue also have the highest popularity?  <br /><br /> 5) Is there an average runtime that tends to be the most successful (popularity, revenue, high ratings)?

In [8]:
popular_moves_df.describe(include='all')

,Unnamed: 0,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline
count,10000.00000,10000.0000,10000,10000,10000.000000,9962,10000.00000,10000.000000,10000,9900,1.000000e+04,9991.000000,7080
unique,NaN,NaN,47,9756,NaN,5727,NaN,NaN,2314,9895,NaN,NaN,7042
top,NaN,NaN,en,Venom,NaN,2021-11-11,NaN,NaN,['Drama'],Dr. Raichi is one of the only survivors of the...,NaN,NaN,Based on a true story.
freq,NaN,NaN,7798,5,NaN,51,NaN,NaN,533,2,NaN,NaN,4
mean,4999.50000,250053.0833,NaN,NaN,34.516871,NaN,6.29875,1315.084900,NaN,NaN,5.736388e+07,98.773596,NaN
std,2886.89568,261734.6183,NaN,NaN,100.693958,NaN,1.43426,2501.899103,NaN,NaN,1.480771e+08,28.800581,NaN
min,0.00000,5.0000,NaN,NaN,6.269000,NaN,0.00000,0.000000,NaN,NaN,0.000000e+00,0.000000,NaN
25%,2499.75000,11866.7500,NaN,NaN,11.908000,NaN,5.90000,118.000000,NaN,NaN,0.000000e+00,89.000000,NaN
50%,4999.50000,144476.0000,NaN,NaN,17.488000,NaN,6.50000,425.500000,NaN,NaN,5.912300e+05,99.000000,NaN
75%,7499.25000,451485.0000,NaN,NaN,29.626250,NaN,7.10000,1297.250000,NaN,NaN,4.764549e+07,113.000000,NaN
max,9999.00000,893478.0000,NaN,NaN,5401.308000,NaN,9.50000,30184.000000,NaN,NaN,2.847246e+09,400.000000,NaN

### `array of columns`

In [9]:
popular_moves_df.columns

Index(['Unnamed: 0', 'id', 'original_language', 'original_title', 'popularity',
       'release_date', 'vote_average', 'vote_count', 'genre', 'overview',
       'revenue', 'runtime', 'tagline'],
      dtype='object')

### `index array`

In [10]:
popular_moves_df.index.array

<PandasArray>
[   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
 ...
 9990, 9991, 9992, 9993, 9994, 9995, 9996, 9997, 9998, 9999]
Length: 10000, dtype: int64

### `plot`

### `pivot table`

### `groupby`

### `discussion`